<template>
  <div id="GetQuestions">
    
  </div>
</template>

<script>

import { GetQuestions } from '../api/questions';



export default {
  name: 'GetQuestions',
  props: {
      apiURL: String
  },
  methods: {
      sendQuestions(){
          this.$emit('sendQuestions', this.questions);
      }
  },
  data(){
    return {
      questions: []
    }
  }, 
  async created(){
    try {
    this.questions = await GetQuestions(this.apiURL);
    this.sendQuestions();
    } catch (error) {
      console.log(error);
    }
  }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
