<template>
  <div>
    <b-nav>
      <b-nav-item disabled>
        <b>Music quiz</b>
      </b-nav-item>
      <b-nav-item disabled>Counter: {{total}}</b-nav-item>
    </b-nav>
  </div>
</template>
<script>
export default {
  props: [ "total"],
};
</script>