<template>
  <div>
    <h3>Your score is: {{score}}</h3>
    <b-containter>
      <b-row>
        <b-col id="col-left">
          <b-list-group>
            <b-list-group-item>Question:</b-list-group-item>
            <b-list-group-item
              id="list"
              v-for="(question) in questions"
              v-html="question.question"
              :key="question.question"
            >{{question}}</b-list-group-item>
          </b-list-group>
        </b-col>
        <b-col id="col">
          <b-list-group>
            <b-list-group-item>Correct Answer:</b-list-group-item>
            <b-list-group-item
              id="list"
              v-for="(question) in questions"
              v-html="question.correct_answer"
              :key="question.question"
            >{{question}}</b-list-group-item>
          </b-list-group>
        </b-col>
        <b-col id="col-right">
          <b-list-group>
            <b-list-group-item>Chosen Answer:</b-list-group-item>
            <b-list-group-item
              id="list"
              v-for="(chosen) in chosens"
              v-html="chosen"
              :key="chosen"
            >{{chosen}}</b-list-group-item>
          </b-list-group>
        </b-col>
      </b-row>
    </b-containter>
  </div>
</template>

<script>
export default {
  name: "ResultPage",
  props: {
    questions: Array,
    chosens: Array,
    score: Number,
  },
  data() {
    return {};
  },
};
</script>

<style>
#list {
  height: 4.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#col,
#col-left,
#col-right {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

#col {
  padding-left: 0px;
  padding-right: 0px;
}

#col-left {
  padding-right: 0px;
  padding-left: 10px;
}

#col-right {
  padding-left: 0px;
  padding-right: 10px;
}
</style>