<template>
  <div> 
      <h3>Welcome to the music quiz!</h3>
      <b-containter> 
          <b-row>
            <b-col id="col-button">
                <b-button id ="button" @click="start">START</b-button>
            </b-col>
          </b-row>
      </b-containter>
  </div>
</template>

<script>
export default {
       props:{
        start:Function,
    }, 
}
</script>

<style>

#col-button {
  padding: 50px;
  display: center;
}

#button {
  background-color: rgb(0, 230, 31);
  color: black;
}
</style>




