<template>
  <div id="app">
    <GetQuestions
      apiURL="https://opentdb.com/api.php?amount=10&category=12"
      v-on:sendQuestions="saveQuestions"
    />
    <!-- Always display header and show questions counter-->
    <Header :total="total" />
    <!-- Show when quiz is finished -->
    <div v-if="index==questions.length">
      <p style="color:green">Congratulations, you have finished the quiz!</p>
    </div>
    <ResultsPage
      v-if="index==questions.length"
      :questions="questions"
      :chosens="chosenAnswers"
      :score="numCorrect*10"
    />
    <!-- Starte page -->
    <StartPage v-if="index==-1" :start="start" />
    <!-- Actual quiz goes here -->
    <b-container class="bv-example-row">
      <b-row>
        <b-col sm="6" offset="3">
          <QuestionPage
            v-on:sendAnswer="addChosenAnswer"
            v-if="index >= 0 && index < questions.length"
            :currentQuestion="questions[index]"
            :next="next"
            :increment="increment"
          />
        </b-col>
      </b-row>
    </b-container>
    <Footer /> 
  </div>
</template>

<script>
import ResultsPage from "./components/ResultsPage.vue";
import StartPage from "./components/StartPage.vue";
import GetQuestions from "./components/GetQuestions.vue";
import Header from "./components/Header.vue";
import QuestionPage from "./components/QuestionPage.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "app",

  components: {
    GetQuestions,
    StartPage,
    Header,
    QuestionPage,
    Footer,
    ResultsPage,
  },
  methods: {
    saveQuestions: function (questions) {
      this.questions = questions;
    },
    // When next button is clicked
    next: function () {
      this.index++;
      if (this.index == 10) {
        this.ResultsPage = true;
        console.log("finished");
      }
    },
    // When start button is clicked
    start: function () {
      this.index++;
    },
    // When user answers correct
    increment(isCorrect) {
      if (isCorrect) {
        this.numCorrect++;
      }
      this.total++;
    },
    // Save the users chosen answers
    addChosenAnswer(answer) {
      this.chosenAnswers.push(answer);
      console.log(this.chosenAnswers);
    },
  },
  data() {
    return {
      questions: [],
      index: -1,
      numCorrect: 0,
      total: 0,
      chosenAnswers: [],
      ResultsPage: false,
    };
  },
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>